<!doctype html>
<html lang="en" ng-app="cvbuilder">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Car List App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/app.css" />
    <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>

    <div ng-view></div>

    <div ng-controller="versionController" class="footer">
        -- cvbuilder app: v<span>{{version}}</span>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-resource.js"></script>
    <script type="text/javascript" src="/public/js/app.js"></script>
</body>
</html>
